<html>

<head>
<title>DefendYourBalls</title>
</head>

<body style="background-color:green;">

<body>

<FONT FACE="arial" SIZE=7 COLOR="orange"><pre>                                          Defend Your Balls<pre></FONT>
<img src={{ url_for('static', filename = 'images/wallpaper.jpg') }} width="1520" height="200">
<form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
  <p>
    <H2>CARGAR FOTO<H2>
    <pre>       <pre><input id="file-input" type="file" name="file" accept="image/*" multiple >
	
    <input type="submit" id="send" class="contact_button" value="Defendemos?" id="upload-button">
  </p>
<pre>                                                                                            CREATED BY KALIM8:
			                                             Vino barato, Pesicola, Bolsa Hielos XXL, Vaso Litro Pack x10<pre>
</form>

</body>

</html>